// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

//HEADER
ul {
  display: flex;
  align-content: center;
  height: 100%;
  margin-bottom: 0px;
}

ul li{
  text-decoration: none;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  list-style: none;
  margin-right: 10px;
  font-weight: bold;
}